In [2]:
import sqlite3

# Connect to database (or create if it doesnâ€™t exist)
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
""")

# Insert records
cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", ("Aman", 21, "A"))
cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", ("Rehan", 20, "B"))

# Commit changes
conn.commit()

# Fetch & display records
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

print("ðŸŽ“ Student Records:")
for row in rows:
    print(row)

# Close connection
conn.close()

ðŸŽ“ Student Records:
(1, 'Aman', 21, 'A')
(2, 'Rehan', 20, 'B')