In [1]:
import sqlite3

# Connect to DB
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

# Create table if not exists
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
""")

# -------- CRUD FUNCTIONS --------

def create_student(name, age, grade):
    cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", (name, age, grade))
    conn.commit()
    print(f" Student {name} added.")

def read_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    print("\n Student Records:")
    for row in rows:
        print(row)

def update_student(student_id, new_grade):
    cursor.execute("UPDATE students SET grade = ? WHERE id = ?", (new_grade, student_id))
    conn.commit()
    print(f"Updated student ID {student_id} grade to {new_grade}")

def delete_student(student_id):
    cursor.execute("DELETE FROM students WHERE id = ?", (student_id,))
    conn.commit()
    print(f" Deleted student with ID {student_id}")

# -------- DEMO --------
create_student("Aman", 21, "A")
create_student("Krish", 20, "B")

read_students()

update_student(2, "A+")

read_students()

delete_student(1)

read_students()

# Close connection
conn.close()

 Student Aman added.
 Student Krish added.

 Student Records:
(1, 'Aman', 21, 'A')
(2, 'Rehan', 20, 'B')
(3, 'Aman', 21, 'A')
(4, 'Krish', 20, 'B')
Updated student ID 2 grade to A+

 Student Records:
(1, 'Aman', 21, 'A')
(2, 'Rehan', 20, 'A+')
(3, 'Aman', 21, 'A')
(4, 'Krish', 20, 'B')
 Deleted student with ID 1

 Student Records:
(2, 'Rehan', 20, 'A+')
(3, 'Aman', 21, 'A')
(4, 'Krish', 20, 'B')