In [1]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="#@manYK2903",
    database="testdb"
)
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50)
)
""")

# Insert data
cursor.execute("INSERT INTO employees (name, age, department) VALUES (%s, %s, %s)", ("Aman", 21, "IT"))
conn.commit()

# Fetch data
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
print("Employee Records:")
for row in rows:
    print(row)

# Close connection
cursor.close()
conn.close()

Employee Records:
(1, 'Aman', 21, 'IT')